.body{
    background-color: rgb(250, 149, 243);
    height: 100vh;
}
p{
}
.titulo{
    background-color: black;
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    
}